<div class="story-container" data-story-id="<%= story._id %>">
  <div class="story-votes-container <%= locals.user && story.getUserVote(user) %>">
    <% if (locals.user) { %>
      <div class="vote-button upvote">
        <i class="fa fa-chevron-up"></i>
      </div>
    <% } %>
    <div class="story-votes"><%= story.votes %></div>
    <% if (locals.user) { %>
      <div class="vote-button downvote">
        <i class="fa fa-chevron-down"></i>
      </div>
    <% } %>
  </div>
  <div class="story">
    <h4><a target="_blank" href="<%= story.url %>"><%= story.title %></a></h4>
    <span class="info">(<%= story.domain %>)</span>
    <div class="info">
      submitted by <%= story.submitter.username %> <span title="<%= story.submitted %>"><%= story.relativeSubmitted() %></span> | <b><a class="comments-link" href="/story/<%= story._id %>"><%= story.commentCount %> comment<% if (story.commentCount != 1) { %>s<% } %></a></b>
      <% if (locals.user && user._id.equals(story.submitter._id)) { %>
        | <a href="#" class="story-delete"><i class="fa fa-trash"></i> delete</a>
        <span class="story-delete-confirm-container" style="display: none;">
          are you sure?
          <a style="margin-right: 0;" href="#" class="story-delete-confirm">yes</a> | <a href="#" class="story-delete-cancel">no</a>
        </span>
      <% } %>
    </div>
  </div>
</div>

