<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
    <title>Coder News</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="content" id="home-page">
      <% if (message) { %>
        <div class="message"><%= message %></div>
      <% } %>

      <% if (locals.user) { %>
        <button onclick="location.href='/submit'">Submit a link</button>
      <% } %>

      <div id="stories">
        <% stories.forEach(story => { %>
          <div class="story">
            <h4><a target="_blank" href="<%= story.url %>"><%= story.title %></a></h4>
            <span class="info">(<%= story.domain %>)</span>
            <div class="info" title="<%= story.submitted %>"><%= story.relativeSubmitted() %></div>
          </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
