<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
    <title>Coder News</title>
    <script src="/js/voting.js"></script>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="content" id="home-page">
      <% if (message) { %>
        <div class="message"><%= message %></div>
      <% } %>
      <div id="stories">
        <% stories.forEach(story => { %>
          <%- include('partials/story', { story: story }) %>
        <% }) %>
      </div>
      <% if (start > 0) { %>
        <button onclick="window.location.href='?start=<%= start - ITEMS_PER_PAGE %>'">
          <i class="fa fa-chevron-left"></i> Previous</i>
        </button>
      <% } %>
      <% if (total > start + ITEMS_PER_PAGE) { %>
        <button onclick="window.location.href='?start=<%= start + ITEMS_PER_PAGE %>'">
          Next <i class="fa fa-chevron-right"></i>
        </button>
      <% } %>
    </div>
  </body>
</html>
