<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
    <title>Coder News: <%= story.title %></title>
    <script src="/js/voting.js"></script>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="content" id="comments-page">
      <%- include('partials/story', { story: story }) %>

      <% if (locals.user) { %>
        <form id="commentForm" method="POST" action="/story/<%= story._id %>/comments">
          <div class="form-row">
            <textarea id="comment" name="text" rows="6" cols="60"></textarea>
          </div>
          <div class="form-row">
            <button>Add comment</button>
          </div>
        </form>
      <% } %>

      <% story.comments.forEach(comment => { %>
        <div class="comment">
          <div class="comment-info">
            <b><%= comment.user.username %></b> <%= comment.relativePosted() %> | <%= comment.votes %> point<% if (comment.votes !== 1) { %>s<% } %>
          </div>
          <div class="comment-body"><%= comment.text %></div>
          <div class="comment-tools">
            <% if (locals.user) { %><i class="fa fa-reply"></i> reply<% } %>
          </div>
        </div>
      <% }) %>

    </div>
  </body>
</html>
