<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
    <title>Coder News: <%= story.title %></title>
    <script src="/js/voting.js"></script>
    <script src="/js/comments.js"></script>
    <script src="/js/storyPage.js"></script>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="content" id="comments-page">
      <%- include('partials/story', { story: story }) %>

      <% if (locals.user) { %>
        <form id="commentForm" method="POST" action="/story/<%= story._id %>/comments">
          <div class="form-row">
            <textarea id="comment" name="text" rows="6" cols="60"></textarea>
          </div>
          <div class="form-row">
            <button id="comment-submit-button" disabled>Add comment</button>
          </div>
        </form>
      <% } %>

      <% story.comments.forEach(comment => { %>
        <%- include('partials/comment', { comment: comment, markdown: markdown, user: user }) %>
      <% }) %>

    </div>
  </body>
</html>
